    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background: #787A91;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .main {
        width: 80vw;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .titulo {
        padding: 15px;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 4%;
        color: #23237c;
    }
    
    .btn {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    #botones {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    .box {
        padding: 10px;
        margin: 0 10px 0 10px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
        background-color: white;
        border-radius: 0.5em;
        width: 30vw;
        height: auto;
        background: #c9c9e2;
    }
    
    .btn {
        border: 0;
        color: #23237c;
        font-weight: bold;
        background-color: #c9c9e2;
        padding: 10px;
        margin-top: 10px;
        border-radius: 0.5em;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
    .text-input {
        border-radius: 0.5em;
        border: none;
        display: block;
        padding: 0.5em;
        width: 100%;
        height: 50px;
        background: #c9c9e2;
        height: 200px;
    }
    
    .grid-container--fit {
        grid-auto-columns: minmax(10px, auto);
        margin-top: 5%;
        background: 787A91;
    }
    
    #div-titulo {
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        background: #c9c9e2;
    }
    
    label {
        margin: auto;
        display: flex;
        justify-content: center;
    }
    
    #footer {
        color: black;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 8%;
    }